extends ../layouts/default

block content
  //Needed two because I need this to load before others for testing
  script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  script.
    var sessionId = "#{sessionId}"
    var apiKey = #{apiKey}
    var token = "#{token}"
  h1= title
  p Welcome to #{title}

  div#videos
    div#myPublisherDiv
    div#streamsContainer
    div#plussign

  script.
    TB.setLogLevel(TB.DEBUG);

    var session = TB.initSession(sessionId);


    session.addEventListener("sessionConnected", sessionConnectedHandler);
    session.addEventListener("streamCreated", streamCreatedHandler);
    session.addEventListener("streamDestroyed", streamDestroyedHandler);
    session.connect(apiKey, token);

    function streamDestroyedHandler (event) {
      session.disconnect();
    }

    function sessionConnectedHandler (event) {
      console.log("sessionConnectedHandler");
      var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
      session.publish(publisher);
      subscribeToStreams(event.streams);
    }

    function subscribeToStreams(streams) {
      console.log("subscribeToStreams");
      for (var i = 0; i < streams.length; i++) {
        var stream = streams[i];
        if (stream.connection.connectionId != session.connection.connectionId) {
          session.subscribe(stream);
        }
      }
    }

    function streamCreatedHandler(event) {
      console.log("streamCreatedHandler");
      subscribeToStreams(event.streams);
    }
